* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f5f8ff;
}

.primary-btn {
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
}


/* header style start */
.header-container {
    max-width: 1440px;
    background-image: url('./image/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo h1 {
    font-size: 34px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #4E47FF;
}


/* banner style */
.banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: rgb(37, 36, 50);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 35px;
}


/* action style here */
.action-conainer {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.action-content {
    width: 50%;
}

.action-content h1 {
    font-size: 42px;
    font-weight: 700;
    color: rgb(37, 36, 50);
}

.action-content p {
    font-size: 24px;
    color: rgb(37, 36, 50);
    margin: 23px 0;
}


.action-image img {
    max-width: 400px;
}


/* coundown style */

.coundown_container {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px;
}

.coundown_container h1 {
    text-align: center;
}

.user_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.user {
    text-align: center;
}

.user h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}

.user p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}


/* client style here */
.review {
    max-width: 1140px;
    margin: 100px auto;
}

.review-heading {
    text-align: center;
}

.review_container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}

.review-card {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
}

.review-conent {
    padding: 24px 0;
}

.review-conent h1 {
    padding-bottom: 15px;
}

.review-card h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    font-family: "Inter", sans-serif;
}

.author {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* focus section style */
.focus_conainer {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    padding: 70px 0;
}

.focus-content {
    text-align: center;
}

.focus-content h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
}

.focus-content p {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    padding: 20px 0;

}

.focus_image {
    max-width: 840px;
    margin: 0 auto;
}

.focus_image img {
    border-radius: 48px;
    margin-top: 20px;
}